@tailwind base;
@tailwind components;
@tailwind utilities;


@import 'tailwindcss/tailwind.css';
@import 'flowbite';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.e-schedule .e-month-view .e-work-cells {
  position: relative;
}

.e-schedule .templatewrap {
  text-align: center;
  position: absolute;
  width: 100%;
}

.e-schedule .templatewrap img {
  width: 30px;
  height: 30px;
}

.e-schedule .caption {
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}